<!doctype html>
<html lang="en" ng-app="CecDareToCareApp" ng-controller="masterCtrl">

<head>
  <title>{{AppData.pageTitle}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css" type="text/css" />
  <link rel="stylesheet" href="./css/default.css" type="text/css" />
  

</head>

<body>
  <div class="container">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="pull-left">
          <div class="brand">
            {{AppData.appName}}
          </div>
        </div>
        <div class="pull-right row">
          <div class="brand col-md-6 ">[not logged in]</div>
          <a href="#" class="brand col-md-6" ng-click="login()">log in</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 menu">
        <ul id="menu">
          <li ng-repeat="mod in AuthenticatedUser.accessibleModules | filter : { name: '!login' }">
            <a href="#{{ mod.url }}">{{mod.name}} </a>
          </li>
        </ul>
      </div>
      <div class="col-md-9 single-page-content">
        <!-- Dynamic content starts here -->
        <h1>{{AppData.currentModule.name}}</h1>

        <div ng-view></div>
        <!-- Dynamic content ends here -->
      </div>
    </div>
    <div class="page-header"></div>
    <div class="row controls">
    </div>
  </div>
  <script src="./bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
  <script src="./bower_components/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
  <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
  
  <!-- angular stuff -->
  <script src="./bower_components/angular/angular.min.js" type="text/javascript"></script>
  <script src="./bower_components/angular-route/angular-route.min.js" type="text/javascript"></script>
  
  <script src="./bower_components/moment/moment.js" type="text/javascript"></script>

  <!-- 
  start angular custom scripts
  -->
  <script type="text/javascript" src="./ngApp/app.js"></script>
  <script type="text/javascript" src="./ngApp/controllers/master.ctrl.js"></script>
  <script type="text/javascript" src="./ngApp/controllers/login.ctrl.js"></script>
  <script type="text/javascript" src="./ngApp/controllers/queue.ctrl.js"></script>
  <script type="text/javascript" src="./ngApp/controllers/client.ctrl.js"></script>

  <script type="text/javascript">
    $(function() {
      var m = $("#menu");
      if (m.length > 0) {
        m.menu();
      }
      $('.jq-datepicker').datepicker();
    });
  </script>
</body>

</html>
