<div>

	<div class="panel panel-default">
		<div class="panel panel-heading">
			<div class="panel-title">find someone</div>
		</div>
		<div class="panel-body">
			<form name="searchForm">
				<div>

					<span>first name:</span>
					<input type="text" ng-model="FindData.first" />


					<span>last name:</span>
					<input type="text" ng-model="FindData.last" />

				</div>
				<div>
					<span>birth day:</span>
					<input type="text" class="jq-datepicker" ng-model="FindData.bday" />
					<span>last visit:</span>
					<input type="text" class="jq-datepicker" ng-model="FindData.visit" />

				</div>

				<div>
					<button class="btn btn-primary" ng-click="sendFindData()">
						<span class="glyphicon-search glyphicon"></span> find
					</button>
					<button class="btn " ng-click="resetSearchForm()">
						<span class="glyphicon-refresh glyphicon"></span> reset
					</button>
				</div>
			</form>
		</div>
	</div>
	<form>
		<div class="row">
			<div class="col-md-12">

				<div class="panel panel-default">

					<div class="panel-heading">
						<div class="panel-title">Client Data</div>
					</div>
					<div class="panel-body">
						<nav>
							<ul class="pagination">
								<li ng-repeat="c in Clients" ng-class="{active: (ClintIdx===$index)}">
									<a href='' ng-click="selectCustomer($index);">{{c.first}}</a>
								</li>
							</ul>
						</nav>
						<div class="row">
							<div class="col-md-6">

								<div>
									<input type="text" ng-model="Clients[ClintIdx].first" placeholder="first name" />
									<input type="text" placeholder="last name" ng-model="Clients[ClintIdx].last" />
								</div>
								<div>
									<input type="text" placeholder="DOB[yyyy-mm-dd]" ng-model="Clients[ClintIdx].bday" class="jq-datepicker" />
								</div>
								<div>
									<input type="text" placeholder="addr line 1" ng-model="Clients[ClintIdx].address.line1" />
									<input type="text" placeholder="addr line 2" ng-model="Clients[ClintIdx].address.line2" />
								</div>
								<div>
									<input type="text" placeholder="city" ng-model="Clients[ClintIdx].address.city" />
									<input type="text" placeholder="state" ng-model="Clients[ClintIdx].address.state" />
									<input type="text" placeholder="zip" ng-model="Clients[ClintIdx].address.zip" />
								</div>
								<div>
									<textarea placeholder="notes" ng-model="Clients[ClintIdx].notes" cols="20" rows="2"></textarea>
								</div>
								<div>
									<button class="btn btn-primary"><span class="glyphicon glyphicon-save"></span>save</button>
									<button class="btn"><span class="glyphicon glyphicon-refresh"></span> reset</button>
								</div>
							</div>
							<div class="col-md-6 panel-default panel">
								<div class="panel-heading">
									<div class="panel-title">
										client visits
										<button class="btn btn-primary btn-sm pull-right" ng-click="addServiceDate(Clients[ClintIdx].Id)" ng-disabled="!Clients[ClintIdx].first">
											<span class="glyphicon-plus glyphicon"></span> add a new date
										</button>
									</div>
								</div>
								<div class="panel-body">

									<div ng-repeat="v in Clients[ClintIdx].visits" class="row">
										<div class="col-md-6">
											<input type="text" ng-model="v.dt" class="form-control jq-datepicker" />
										</div>
										<div class="col-md-6">
											<button type="button" class="btn btn-danger btn-xs">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> delete
											</button>
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>


				</div>

			</div>

		</div>

	</form>
</div>
<div style="display:none" id="popup" title="enter a service date">
	<div>
		<input type="text" ng-model="newServiceDate" class="jq-datepicker" />
	</div>
</div>
<script type="text/javascript">
	$(function() {

		$('.jq-datepicker').datepicker({
			showButtonPanel: true,
			dateFormat: 'mm/dd/yy'
		});
	});
</script>
</div>