<div ng-controller="login">
    <form ng-submit="send()">
        <div class="">
            <input type="text" class="" ng-model="AuthorizedUser.name" ng-change="setName()" placeholder="username">
        </div>
        <div class="">
            <input type="password" class="" ng-model="AuthorizedUser.password" placeholder="password">
        </div>
        <div class="input-append ">
            <input type="submit" class="span1 btn btn-primary" value="login">
        </div>
    </form>
</div>