<div >
    <table id="queuetable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    order
                </th>
                <th>
                    served
                </th>
                <th>
                    canceled
                </th>
                <th>
                    first
                </th>
                <th>
                    last
                </th>
                <th>
                    pickup
                </th>
                <th>
                    time in
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="q in Data">
                <td>{{$index + 1}}</td>
                <td><input type="checkbox" ng-model="q.served" /></td>
                <td><input type="checkbox" ng-model="q.canceled" /></td>
                <td>{{q.first}}</td>
                <td>{{q.last}}</td>
                <td>{{q.pickup}}</td>
                <td>{{q.timeIn}}</td>
            </tr>
        </tbody>
    </table>

</div>